.testimonial-slider-four .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}
.nice-select {
  width: 100%;
}
.recent-product-slider .slick-slide,
.testimonial-slider-two .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}
.gap-2 {
  gap: 1.5rem;
}
.hover_text:hover {
  color: #007eff;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #000;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #007eff;
}